.fondo-tab
  background: url('../assets/curso/tema1/fondo-tab.svg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.tabs-b 
  //border-bottom: 1px solid #AFAFAF
  border-bottom: 0

.fondo-rectangular
  background: url('../assets/curso/tema1/fondo-morado.svg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.titulo-sexto.color-primario 
  border-left-color: #EF2A66

.fondo-borde
  background: url('../assets/curso/tema1/fondo-morado2.svg')
  background-position: top center
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.3rem

.bloque-texto-b.color-primario:before 
  background-color: #ede8ff


.bloque-texto-a.color-acento-contenido 
  background-color: #E8E8E8
.bloque-texto-a.color-acento-contenido:before
  background-color: #7CC5FF

.bloque-texto-b.color-secundario:before
  background-color: #7cc4ff69


.bloque-texto-a.color-acento-botones 
  background-color: #E9E3FF
.bloque-texto-a.color-acento-botones:before 
  background-color: #E9E3FF

.bg-tema4
  background: url('../assets/curso/tema4/bg-1.svg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.pasos-a.color-primario .pasos-a__circle div
  color: #fff

.pasos-a.color-primario .pasos-a__circle 
  background-color: #EF2A66

.pasos-a.color-primario .pasos-a__numero::after
  border-left-color: #EF2A66
.pasos-a.color-primario .pasos-a__linea__esquina__linea
  border-color: #EF2A66

.pasos-a.color-primario .pasos-a__linea .hor-line
  border-top-color: #EF2A66

.pasos-a.color-primario .pasos-a__linea__esquina__linea 
  border-color: #EF2A66


.contenedor-flecha
    display: block
    position: relative
    background-color: #e9e3ff
    border-radius: 10px
    padding: 20px
    padding-right: 0
    padding-left: 230px

.contenedor-titulo
  width: 232px
  position: absolute
  left: -15px
  border-radius: 52px
  top: 50%
  transform: translateY(-50%)
  


.contenedor-texto
  padding: 4px


.img-custom1
  width: 300px
  margin-bottom: 1rem







@media screen and ( min-width: $bp-min-lg)
  .img-custom1
    width: 392px
    margin-bottom: 0

  
@media screen and ( max-width: $bp-max-sm)
  .fondo-borde
    margin-inline: -1.5rem
  .contenedor-flecha
    padding: 25px
    margin-bottom: 40px !important  
    .contenedor-titulo
      text-align: center
      
      width: auto
      left: 50%
      border-radius: 52px
      top: 0
      transform: translateY(-50%) translateX(-50%)

    
      
@media screen and ( max-width: 449px)
  .contenedor-flecha
    margin-top: 40px
    padding: 25px
    padding-top: 35px
    .contenedor-titulo
      width: auto
      left: 50%
      border-radius: 52px
      top: 0
      transform: translateY(-50%) translateX(-50%)
      .contenido-centro
        justify-content: center
      