.fondo-tab
  background: url('../assets/curso/tema1/fondo-tab.svg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.tabs-b 
  //border-bottom: 1px solid #AFAFAF
  border-bottom: 0

.fondo-rectangular
  background: url('../assets/curso/tema1/fondo-morado.svg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.titulo-sexto.color-primario 
  border-left-color: #EF2A66

.fondo-borde
  background: url('../assets/curso/tema1/fondo-morado2.svg')
  background-position: top center
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.3rem

.bloque-texto-b.color-primario:before 
    background-color: #ede8ff

@media screen and ( max-width: $bp-max-sm)
  .fondo-borde
    margin-inline: -1.5rem